<div class="review-card" data-controller="vote">
  <div class="review-header">
    <%= link_to review.user.username, user_path(review.user), class: "review-author" %>
    <%= rating_stars(review.rating) %>
    <time datetime="<%= review.created_at.iso8601 %>">
      <%= time_ago_in_words(review.created_at) %> ago
    </time>
    
    <% if review.verified_purchase %>
      <span class="badge verified">Verified</span>
    <% end %>
  </div>
  
  <h4 class="review-title"><%= review.title %></h4>
  <p class="review-body"><%= simple_format(review.body) %></p>
  
  <div class="review-actions">
    <%= vote_buttons(review) %>
    
    <% if review.helpful? %>
      <span class="helpful-count">
        <%= pluralize(review.helpful_count, 'person') %> found this helpful
      </span>
    <% end %>
    
    <% if current_user && current_user != review.user %>
      <%= button_to "Helpful", mark_helpful_review_path(review), 
          method: :post, class: "btn-link" %>
    <% end %>
    
    <% if current_user == review.user %>
      <%= link_to "Edit", edit_review_path(review), class: "btn-link" %>
      <%= button_to "Delete", review_path(review), 
          method: :delete, data: { turbo_confirm: "Delete this review?" }, 
          class: "btn-link text-danger" %>
    <% end %>
  </div>
</div>
